.cards{
    display: grid;
    padding-bottom: 100px;
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
}
.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2%;
    row-gap: 20px;
    height: 130%;
    width: 90%;
    margin-top: 50px;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
    background-color: #0000009a;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: none;
}
.card img,
.card-body{
    display: grid;
    grid-column: span 2;
    text-align: center;
    height: 100%;
    width: auto;
    color: white;
}
.card img{
    right: 1fr;
    margin-top: 0;
}
main{
    background-color: #24303c;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow: hidden;
    
}
.card-title{
    margin: 0;
}
img{
    max-height: 500px;
}