*{

    font-family: 'PT Sans' , sans-serif;
    }
    main{
        background-color: #24303c;
        padding-top: 20px;
        min-height: 80vh;
    }
    
    body{
        position: relative;
        min-height: 100vh;
        padding: 0;
        width: 100%;
    }
    
/*     header{
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0),#000000b3),
        url("../assets/2-nav.png");
        background-position-y: 57%;
        background-repeat: no-repeat;
        list-style: none;
        text-shadow: 
        0px 0px 3px rgb(0, 0, 0),
        0px 0px 4px black;
    }
    .logo{
        background-image: url(../assets/Logo\ Amazing\ Events.png);
        background-repeat: no-repeat;
        display: grid;
        grid-column: 1/3;
        background-size: max(20vw, 170px);
        background-position-y: 50%;
        max-height: 8em;
        margin-left: 10px;
    }
    .links{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem,1fr));
        grid-column: 3/7;
        padding: 3%;
        column-gap: 2vw;
        row-gap: 5px;
        font-family: 'Roboto', sans-serif;
    }

    .links a{
        display: grid;
        width: 100%;
        background-color: #0000009a;
        border: 2px solid #e0046c ;
        text-align: center;
        border-radius: 18px;
        text-decoration:none;
        box-shadow: 
        2px 2px 4px  #e0046c ,
        4px 4px 5px #ffffff;
        transition: 0.5s;
        overflow: hidden;
    }
    
    @media (max-width: 600px) {
        header{
            grid-template-rows: repeat(2, 1fr);
            row-gap: 0px;
            max-height: 200px;
        }
        .links a{
            width: 90%;
            max-height: 30px;
        }
        .links{
            justify-items: center;
            grid-column: 1/7;
            grid-row: 2/2;
        }
        .logo{
            grid-column: 1/7;
            grid-row: 1/1;
            background-size: 270px;
            background-position-x: 50%;
            background-position-y: 100%;
            margin: 0;
            height: 80px;
        }

    } */

    .navbar{
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0),#000000b3),
        url("../assets/2-nav.png");
        background-position-y: 57%;
        background-repeat: no-repeat;
        list-style: none;
        transition: 0.5s;
    }

    .collapse{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        font-weight: bold;
    }
    .nav-item{
        padding-right: 5px;
        padding-left: 5px;
        background-color: blue;
        margin-right: 20px;
        font-size: 16px;
        background-color: #000000;
        border: 2px solid #e0046c ;
        text-align: center;
        border-radius: 18px;
        box-shadow: 
        2px 2px 4px  #e0046c ,
        4px 4px 5px #000000;
        transition: 0.5s;
        width: 130px;
        max-height: 30px;
        overflow: hidden;
        margin-top: 10px;
    }

    @media (max-width: 990px) {
        .nav-item{width: 50%;
        }
        .container-fluid{justify-items: center;

        }
    }
    
    .nav-item > a{
        color: #ffffff;
        transition: 0.5s;
    }
    .navbar-toggler{
        background-color: #e0046b75;
    }

    .nav-item > b{
        font-size: 17px;
        font-weight: bold;
        color:  white ;
        
    }
    .nav-item:hover {
        color: #e0046c;
        box-shadow: 
        0px 0px 5px  #e0046c ,
        0px 0px 10px #ffffff;
    }
    .nav-item > a:hover {
        color: #e0046c;
    }
    .separator{
        display: grid;
        grid-column: 1/7;
        height: 0.2vw;
        background-color: #e0046c;
    }
    /*------------------nav----------------------*/
    nav2{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0),#000000b3),
        url("../assets/2-nav.png");
        background-position-y: 70%;
        background-repeat: no-repeat;
        text-decoration:none;
        padding-bottom: 5px;
        max-height: 3em;
    }
    @media (max-width: 600px) {
        nav{align-items: center;
        }
    }

    .buttom_back{
        grid-column: 1/2;
        font-size: 30px;
        margin-left: 35px;
    }
    .pag_nav{
        display: grid;
        grid-column: 2/5;
        text-align: center;
        font-size: min(9vw, 34px);
        color: #ffffff;
        text-shadow:
        0 0 7px rgb(0, 0, 0),
        0 0 10px rgb(0, 0, 0),
        0 0 21px rgb(0, 0, 0),
        0 0 42px rgb(0, 0, 0),
        0 0 82px rgb(0, 0, 0);
    }
    .buttom_next{
        grid-column: 5/6;
        text-align: end;
        font-size: 30px;
        margin-right: 35px;
    }
    .buttom_back a,
    .buttom_next a{
        text-decoration:none;
        color: white;
        text-shadow: 
        3px 3px 1px rgb(0, 0, 0),
        5px 5px 2px #ffffff;
    }
    .separator_nav_bottom{
        display: grid;
        grid-column: 1/6;
        height: 2px;
        width: 100%;
        background-color: #ffffff;
    }
    /*---------------------foother--------------*/
    
    footer{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        position: absolute;
        background-color: #000000;
        height: 80px;
        width: 100%;
        bottom: 0;
        align-content: center;
        column-gap: 20px;
        color: white;
        padding-left: 30px;
    }
    
    .div_instagram{
        display: grid;
        max-width: 60px;
        grid-template-columns: repeat(auto-fill, minmax(5rem,1fr));
    }
    .div_whats_app{
        display: grid;
        max-width: 60px;
        grid-template-columns: repeat(auto-fill, minmax(5rem,1fr));
    }
    .div_Facebook{
        display: grid;
        max-width: 60px;
        grid-template-columns: repeat(auto-fill, minmax(5rem,1fr));
    }
    
    .instagram_link{
        margin-top: 7px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png);
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: min(5vw,33px);
        height: 40px;
    }
    .facebook_link{
        margin-top: 7px;
        background-image: url(https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-3-1.png);
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: min(5vw,33px);
        height: 40px;
    }
    .whats_app_link{
        margin-top: 7px;
        background-image: url(https://assets.stickpng.com/images/580b57fcd9996e24bc43c543.png);
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: min(5vw,33px);
        height: 40px;
    }
    .cohort{
        grid-column: 9/10;
        font-size: min(7vw,50px);
        text-align: center;
        color: white;
    }
    @media (max-width: 600px) {
        .cohort{
            grid-column: 5/8;
        }
    }