    *{font-family: 'PT Sans' , sans-serif;
    }
    main{
        background-color: #24303c;
        padding-top: 20px;
        min-height: 82vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    
    body{
        position: relative;
        min-height: 100vh;
        padding: 0;
        width: 100%;
    }
    
    .navbar{
        background: linear-gradient(#1c1e21, #1c1e21, #1c1e21),
        url("../assets/excited-audience-watching-confetti-fireworks-and-having-fun-on-music-festival-at-night-copy-space.jpg");
        background-position-y: 57%;
        background-repeat: no-repeat;
        background-size: cover;
        list-style: none;
        transition: 0.5s;
    }

    .collapse{
        top: 0;
        right: 0;
        height: 100%;
        font-weight: bold;
    }
    .nav-item{
        padding-right: 8px;
        padding-left: 8px;
        background-color: blue;
        margin-right: 10px;
        font-size: 13px;
        background-color: #000000;
        border: 0.5px solid #e0046c ;
        text-align: center;
        border-radius: 18px;
        box-shadow: 
        2px 2px 4px  #e0046c ,
        4px 4px 5px #000000;
        transition: 0.5s;
        width: 140px;
        overflow: hidden;
        margin-top: 10px;
        cursor: pointer;
    }

    @media (min-width: 990px) {
        .collapse{
            position: absolute;
        }
    }

    @media (max-width: 990px) {
        .nav-item{width: 50%;
        }
        .container-fluid{justify-items: center;

        }
    }
    
    .nav-item > a{
        color: #ffffff;
        transition: 0.5s;
    }
    .navbar-toggler{
        background-color: #e0046b75;
    }

    .nav-item > b{
        font-size: 17px;
        font-weight: bold;
        color:  white ;
        
    }
    .nav-item:hover {
        color: #e0046c;
        box-shadow: 
        0px 0px 5px  #e0046c ,
        0px 0px 10px #ffffff;
    }
    .nav-item > a:hover {
        color: #e0046c;
    }
    .separator{
        display: grid;
        grid-column: 1/7;
        height: 1px;
        background-color: #e0046c;
    }
    /*-------------------------nav-------------------------*/
    nav2{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        background-color: #1c1e21;
        background-position-y: 63%;
        background-size: cover;
        background-repeat: no-repeat;
        text-decoration:none;
        padding-bottom: 5px;
    }
    @media (max-width: 600px) {
        nav{align-items: center;
        }
    }

    .buttom_back{
        grid-column: 1/2;
        font-size: 30px;
        margin-left: 35px;
    }
    .pag_nav{
        display: grid;
        grid-column: 2/5;
        text-align: center;
        font-size: min(9vw, 34px);
        color: #ffffff;
        text-shadow:
        0 0 7px rgb(0, 0, 0),
        0 0 10px rgb(0, 0, 0),
        0 0 21px rgb(0, 0, 0),
        0 0 42px rgb(0, 0, 0),
        0 0 82px rgb(0, 0, 0);
    }
    .buttom_next{
        grid-column: 5/6;
        text-align: end;
        font-size: 30px;
        margin-right: 35px;
    }
    .buttom_back a,
    .buttom_next a{
        text-decoration:none;
        color: white;
        text-shadow: 
        3px 3px 1px rgb(0, 0, 0),
        5px 5px 2px #ffffff;
    }
    .separator_nav_bottom{
        display: grid;
        grid-column: 1/6;
        height: 2px;
        width: 100%;
        background-color: #ffffff;
    }
    /*---------------------foother--------------*/
    
    footer{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        position: absolute;
        background-color: #000000;
        height: 42px;
        width: 100%;
        bottom: 0;
        align-content: center;
        column-gap: 20px;
        color: white;
        align-items: flex-start;
    }
    
    .div_links_footer{
        display: grid;
        grid-column: 1/2;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
    }
    .instagram{
        background-image: radial-gradient(rgb(255, 0, 221) 0%, transparent 70%, rgb(0, 0, 0) 40%);
        
    }
    .facebook{
        background-image: radial-gradient(rgb(0, 17, 255) 0%, transparent 70%, rgb(0, 0, 0) 40%);
    }
    .whats_app{
        background-image: radial-gradient(rgb(0, 17, 255) 0%, transparent 70%, rgb(0, 0, 0) 40%);
    }

    .instagram_link{
        display: grid;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png);
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: 23px;
        height: 41px;
        width: 60px;
    }
    .facebook_link{
        display: grid;
        background-image: url(https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-3-1.png);
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: 23px;
        height: 41px;
        width: 60px;
    }
    .whats_app_link{
        display: grid;
        margin-top: 1px;
        background-image: url(https://assets.stickpng.com/images/580b57fcd9996e24bc43c543.png);
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: 23px;
        height: 41px;
        width: 60px;
    }
    .cohort{
        grid-column: 7/8;
        font-size: 25px;
        text-align: center;
        color: white;
        height: 25px;
        margin-top: 3px;
    }
    @media (max-width: 600px) {
        .cohort{
            grid-column: 5/8;
        }
    }

    
    @media (max-width: 418px) {
        .pag_nav{
            font-size: min(7vw, 34px);
        }
        .cohort{
            grid-column: 3/4;
            font-size: 22px;
    }
    footer{
        grid-template-columns: repeat(4,1fr);
    }
    }