main{
    background-color: #24303c;
    padding: 10%;
    padding-top: 50px;
    overflow: hidden;
    min-height: 80vh;
}
h2{
    background-color: #212529;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-bottom: 1px solid  #373b3e;
    margin-bottom: 0;
    padding: 2px;
}
table{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
tr{
    height: 41px;
}
thead{
    border-bottom: 1px solid  #373b3e;
}