main{
    padding: 9vw;
    padding-top: 3vw;
}
.form_contact{
    background: #24303c;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
    padding: 10px;
    border-radius: 10px;
}
input[type=mensagge], select {
    height: 200px;
}
.buttom_form{
    display: grid;
    justify-items: end;
}
button[type=submit], select{
    width: 200px;
}
input[type=name]:hover,
input[type=mensagge]:hover,
input[type=email]:hover{
    background-color: #0000009a;
    color: white;
    border: 2px solid #ffffff9a;
    transition: 0.3s;
}
input[type=name],
input[type=mensagge],
input[type=email]{
    transition: 0,5s;
}

label{
    font-weight: bold;
    color: white;
}
input[type=name],
input[type=mensagge],
input[type=email], select {
    background-color:  #00000056;
}
.form-control {
    color: white;
}