*{
margin: 0%;
margin: 0%
}
body{
    position: relative;
    min-height: 100vh;
}

header{
    display: grid;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0),#000000b3),
    url("../assets/2-nav.png");
    background-position-y: 57%;
    background-repeat: no-repeat;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    max-height: 8em;
    min-width: 550px;
    text-shadow: 
    0px 0px 3px rgb(0, 0, 0),
    0px 0px 4px black;
}
.logo{
    background-image: url(../assets/Logo\ Amazing\ Events.png);
    background-repeat: no-repeat;
    display: grid;
    grid-column: 1/3;
    background-size: 100%;
    background-position-y: 50%;
    max-height: 8em;
}
.links{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem,1fr));
    grid-column: 3/7;
    padding: 3%;
    column-gap: 2vw;
    row-gap: 5px;
    font-family: 'Roboto', sans-serif;
}
.links a{
    display: grid;
    width: min(20vw, 157px);
    background-color: #0000009a;
    border: 2px solid #e0046c ;
    text-align: center;
    border-radius: 18px;
    text-decoration:none;
    box-shadow: 
    2px 2px 4px  #e0046c ,
    4px 4px 5px #ffffff;
    transition: 0.5s;
    max-height: 1.8em;
    overflow: hidden;
}
.links > a > b{
    font-size: 17px;
    font-weight: bold;
    color:  white ;
    
}
.links > a:hover {
    color: white;
    box-shadow: 
    0px 0px 5px  #e0046c ,
    0px 0px 10px #ffffff;
}
.separator{
    display: grid;
    grid-column: 1/7;
    height: 0.2vw;
    background-color: #e0046c;
}
/*------------------nav----------------------*/
nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0),#000000b3),
    url("../assets/2-nav.png");
    background-position-y: 70%;
    background-repeat: no-repeat;
    text-decoration:none;
    color: white;
    padding-bottom: 5px;
}
.buttom_back{
    grid-column: 1/2;
    font-size: min(9vw, 120px);
    margin-left: 35px;
}
.pag_nav{
    display: grid;
    grid-column: 2/5;
    text-align: center;
    text-shadow: 
    3px 3px 1px rgb(0, 0, 0),
    5px 5px 2px #ffffff;
}
.buttom_next{
    grid-column: 5/6;
    text-align: end;
    font-size: min(9vw, 120px);
    margin-right: 35px;
}
.buttom_back a,
.buttom_next a{
    text-decoration:none;
    color: white;
    text-shadow: 
    3px 3px 1px rgb(0, 0, 0),
    5px 5px 2px #ffffff;
}
.separator_nav_bottom{
    display: grid;
    grid-column: 1/6;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
}
/*---------------------foother--------------*/

footer{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    position: absolute;
    background-color: #000000;
    height: 70px;
    width: 100%;
    bottom: 0px;
    align-content: center;
    column-gap: 20px;
}

.instagram_link{
    grid-column: 1/2;
    display: grid;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: min(6vw,50px);
}
.facebook_link{
    grid-column: 2/3;
    background-image: url(https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-3-1.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: min(6vw,50px);
}
.whats_app_link{
    grid-column: 3/4;
    background-image: url(https://assets.stickpng.com/images/580b57fcd9996e24bc43c543.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: min(6vw,50px);
}
.cohort{
    grid-column: 8/11;
    font-size: min(8vw,50px);
    text-align: center;
    color: white;
}