*{
margin: 0%;
margin: 0%
}

header{
    display: grid;
    background-image: url(https://image.shutterstock.com/image-vector/rose-pink-stars-sprocket-shiny-260nw-1129309694.jpg);
    background-position-y: 80%;
    grid-template-columns: repeat(6, 1fr);
    height: auto;
    list-style: none;
}
.logo{
    background-image: url(../assets/Logo\ Amazing\ Events.png);
    background-repeat: no-repeat;
    display: grid;
    grid-column: 1/3;
    background-size: 100%;
    background-position-y: 50%;
}
.links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 3/7;
    padding: 3%;
    column-gap: 2%;
    font-family: 'Roboto', sans-serif;
    
}
.links a{
    display: grid;
    width: auto;
    padding: 4%;
    /*
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_1Awio_vY4aAN7CreB3ThdgnGLZkBmELIt6pd5T7Hq6wLjic4ibDmBmzdumMMio29XmU&usqp=CAU); */
    background-color: transparent;
    border: 2px solid #e0046c ;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 18px;
    text-decoration:none;
    box-shadow: 
    2px 2px 4px  #e0046c ,
    4px 4px 5px #ffffff;
    transition: 0.5s;
}
.links > a > b{
    font-size: 2vw;
    font-weight: bold;
    color:  white ;
}
.links > a:hover {
    color: white;
    box-shadow: 
    0px 0px 5px  #e0046c ,
    0px 0px 10px #ffffff;
}
.separator{
    display: grid;
    grid-column: 1/7;
    height: 0.2vw;
    background-color: #e0046c;
}
/*------------------nav----------------------*/
nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1%;
    background-color: rgb(100, 100, 101);
    text-decoration:none;
}
.buttom_back{
    grid-column: 1/2;
    font-size: 9vw;
}
.pag_nav{
    grid-column: 2/5;
    text-align: center;
    font-size: 5vw;
}
.buttom_next{
    grid-column: 5/6;
    text-align: end;
    font-size: 9vw;
}
.buttom_back a,
.buttom_next a{
    text-decoration:none;
    color: black;
}