*{
    padding: 0;
    margin: 0;
}

.countries{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(35rem,1fr));
    padding-top: 20px;
    background-color: #24303c;
    justify-items: center;
}

.card{
    display: grid;
    width: 500px;
    height: 200px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
    background-color: #24303c;
    text-align: center;
    overflow: hidden;
}
.card-info{
    grid-column: 1/3;
    width: 200px;
    height: 170px;
    overflow: auto;
    color: aliceblue;

}
.card-img{
    grid-column: 3/5;
    width: 264px;
    height: 200px;
}
.card-title{
    height: 70px;
    margin-bottom: 3px;
}
.card-comon{
    height: 33px;
    margin-bottom: 3px;
}
.card-utc{
    height: 33px;
    margin-bottom: 3px;
    overflow: auto;
}
.card-map{
    height: 33px;
    margin-bottom: 3px;
}

.card-comon,
.card-utc,
.card-map{
    font-size: 12px;
}
.icon-contries{
    content: "";
    background-color: yellowgreen;
}
a{
    color: white;
}