*{
    font-family: 'PT Sans' , sans-serif;
}

.inputs{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    position: relative;
    list-style: none;
    margin-right: 1vw;
}

.search{
    grid-column: 7/10;
}
.search input{
    width: 100%;
    height: 40px;
    padding: 0 7px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid rgb(0, 170, 255);
    border-radius: 20px;
    margin-top: 7px;
    background-color: #00000056;
}
.search input:hover{
    background: #6d6d6d57;
}
.buttom_search{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    right: 0;
    background-color: rgb(0, 170, 255);
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-top: 4px;
}

@media (max-width: 600px) {
    .inputs{
        justify-items: end;
        margin-left: 20px;
        margin-right: 20px;
    }
    .search{
        display: grid;
        grid-column: 1/10;
        width: 100%;
        border-radius: none;
        justify-items: left;
    }
    .search input{
        display: grid;
        grid-column: 1/9;
        margin: 0;
        border-radius: 50px 0px 0px 50px;
    }
    .buttom_search{
        display: grid;
        grid-column: 9/10;
        position: relative;
        width: 90px;
        height: 40px;
        background-color: rgb(0, 170, 255);
        padding-top: 10px;
        border-radius: 0px 50px 50px 0px;
        text-align: center;
        color: white;
        cursor: pointer;
        margin: 0;
}
}


.inputs_checkbox{
    grid-column: 1/7;
    padding: 5px 15px 5px 42px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    cursor: pointer;
    -webkit-transition: all 0.3s ease; /*transicion de los label*/
    -o-transition:all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 17px;
    min-width: 370px;
}
.inputs input[type="checkbox"]{
    display: none;
}
.inputs_checkbox label{
    padding: 5px 15px 5px 45px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease; /*transicion de los label*/
    -o-transition:all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #00000056;
    border-radius: 20px;
    color: white;
    border-bottom: 1px solid rgb(0, 170, 255);
}
.inputs_checkbox label:hover{
    background: #6d6d6d57;
}
.inputs_checkbox label:before{
    content: "";
    width: 13px; /*nuevo checkbox*/
    height: 13px;
    display: inline-block; /*poner todo dentro del block*/
    background: rgb(0, 170, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius:3%;
    position: absolute;
    left: 23px;
    bottom: 11px;
}
.inputs_checkbox input[type="checkbox"]:checked + label{
    padding: 5px 15px;
    background: rgb(0, 0, 0);
    color: rgb(0, 170, 255);
}
.inputs_checkbox input[type="checkbox"]:checked + label:before{
    display: none;
}

@media (max-width: 600px) {
    .inputs_checkbox{
        grid-column: 1/10;
        justify-items: center;
        max-height: 200px;
}
}


/*------------------cards---------------*/

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem,1fr));
    margin-top: 40px;
    padding-bottom: 100px;
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
}
.card{
    display: grid;
    grid-column: span 2;
    border: none;
    text-align: center;
    align-items: flex-end;
    height: 380px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 4px;
    background-color: #24303c;
    color: white;
}
.card img{
    width: 100%;
    height: 180px;
}